html, body {
  padding: 0 0;
}

h4 {
  text-align: left;
  display: inline;
  margin-right: 10px;
}

img {
  float:left;
  height:74px;
  width:100px;

}

.image-class {
  padding: 15px 10px;
}

input {
  padding: 15px 150px;
  border-radius: 50px;
  border-color: #000000;
  border-width: thin;
  opacity: 0.3;
  margin-right: 30px;
}

input:focus:valid{
  opacity: 1;
}

input:invalid {
  border-color:#ffdddd;
}

button {
  padding: 4px 15px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.05), 0       6px 20px 0 rgba(0,0,0,0.19);
}

// .a-orange {
//   color: #f96331;
//   text-decoration: none;
// }

// .a-orange:hover {
//   text-decoration: none;
//   background-color: none;
// }

.button-white{
  padding: 4px 15px;
  display:inline;
  border: 0;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.05), 0       6px 20px 0 rgba(0,0,0,0.19);
  background-color: #ffffff;
  margin-right: 30px;
  margin-bottom: 30px;
}

.button-white:hover{
  color:#f96331;
  opacity: 0.8;
  text-decoration: none;
}

.button-orange{
  background-color: #f96331;
  color: #ffffff;
}

.button-orange:hover{
   background-color: #D1532A;
}

.card {
  border-style: solid;
  border-width: thin;
  margin-right: 500px;
  margin-top: 10px;
  opacity: 0.7;
}

.card:hover {
  opacity: 1;
  box-shadow: -1px 2px 14px 0px rgba(0,0,0,0.75);
}

.card-conteiner {
  border-width: thin;
  display: inline-block;
  margin-right: 70px;
  margin-left: 30px;
}

.card-text {
  content: "";
  clear: both;
  display: table;
  display: inline-block;
  margin-right: 30px;
}

.card-text-content {
  margin-top: 2px;
}

.card-text-header {
  color: #f96331 ;
  display: inline-block;
  margin-bottom: 5px;
  opacity: 1;
}


.head {
  width: 100%;
  background-color: #f96331;
}

.header-title-conteiner {
  display:inline;
}

.header-title{
  display:inline;
}

.form-conteiner{
  display: grid;
  place-items: center;
  height: 50vh;
}
